*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');

body {
    text-align: center;
    background-image: url("./img/fundo.jpg");
    font-family: 'Headland One', serif;
    
}
.brasil {

    width: 300px;
}

.usa {
    width: 380px;
}

.titulo {
    color: whitesmoke;
    font-size: 35px;
    padding-top: 5%;

}

.bandeiras {
    margin-top: 20px;
}

.cotacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.real {
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px;
}

.dolar {
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px;
}

.conversao {
    margin-top: 30px;
}

.conversao h2{
    font-size: 40px;
    
}

#valor {
    margin-bottom: 20px;
    height: 25px;
    padding-left: 5px;
}

#convertidoReal, #convertidoDolar{
    height: 40px;
    padding: 5px;
    
}
